__pycache__/
.DS_Store
*.pyc
.env
Rio/
Mapa_R/
Resultados/
Municipios/
SHP_Magdalena/sin_altitud/*
SHP_Magdalena/copia_con_altitud/
*.zip
!Red_Magdalena.zip
!Dpto_84.zip
Sitios_Colecta/*
!Colecta.xlsx
*.rar
MAGDALENA_TOPOLOGY.xlsx
*.csv
modelo_con_umbral_app.py
pruebas.ipynb
Archivos_from_Github
Tabla_de_Centrales
prueba.py