__pycache__/
.DS_Store
*.pyc
.env
Resultados/
SHP_Magdalena/copia_con_altitud/
SHP_Magdalena/sin_altitud/
Sitios_Colecta/*
!Colecta.xlsx
*.rar
*.zip
MAGDALENA_TOPOLOGY.xlsx
*.csv
modelo_con_umbral_app.py
pruebas.ipynb
Archivos_from_Github
Tabla_de_Centrales